body {
    margin: 0;
}

.container {
    border: 6px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-item {
    color : white;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.flex-item-width {
    color : white;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.item-1 {
    background-color: aqua;
    order: 1;
    flex-grow: 1;
}

.item-2 {
    background-color: bisque;
}

.item-3 {
    background-color: blueviolet;
    order: 2;
    /* flex-grow: 1; */
    flex-shrink: 0;
}

.item-4 {
    /* flex property is the shorthand for f-grow, f-shrink and f-basis */
    flex: 0 1 auto; /* this line command is the auto value for all three properties of flex property */
    background-color: brown;
}

.item-5 {
    background-color: cadetblue;
    order: 1;
    flex-grow: 1;
}

.item-6 {
    flex: 5 0 37px; /* this line command is the auto value for all three properties of flex property */
    background-color: burlywood;
}

.item-7 {
    background-color: coral;
}

.item-8 {
    background-color: darkcyan;
}
    
.item-9 {
    background-color: deeppink;
}

.item-10 {
    background-color: gold;
}

/*    -----------    Align-Self Property Exercise   ----------   */

.container-align-self {
    border: 6px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;
    align-items: center;
}

.flex-item-align-self {
    color : white;
    text-align: center;
    padding: 5px;
    /* height: 100px; */
    flex-basis: 100px;
}

.item-self-1 {
    background-color: aqua;
    align-self: flex-start;
}

.item-self-2 {
    background-color: bisque;
}

.item-self-3 {
    background-color: blueviolet;
    align-self: stretch;
}

.item-self-4 {
    background-color: brown;
    align-self: flex-end;
}

.item-self-5 {
    background-color: cadetblue;
    align-self: flex-end;
}

.item-self-6 {
    background-color: burlywood;
    align-self: flex-end;
}

.item-self-7 {
    background-color: coral;
    align-self: stretch;
}

.item-self-8 {
    background-color: darkcyan;
}
    
.item-self-9 {
    background-color: deeppink;
}

.item-self-10 {
    background-color: gold;
}